.wwd {
  background: linear-gradient(
    45deg,
    rgba(57, 155, 255, 1) 0%,
    rgba(238, 113, 249, 1) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(57, 155, 255, 1) 0%,
    rgba(238, 113, 249, 1) 100%
  );
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 80px;
  padding-right: 75px;
}

.tRow1 {
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "GoogleSans-Bold";
}

h5 {
  font-family: "GoogleSans-Medium";
}
