@font-face {
  font-family: "GoogleSans-Medium";
  src: url("assets/fonts/Google-Sans-Font/GoogleSans-Medium.ttf");
}

@font-face {
  font-family: "GoogleSans-Bold";
  src: url("assets/fonts/Google-Sans-Font/GoogleSans-Bold.ttf");
}
